.navContainer{
    background-color: black;
    color: white;
}

.navbar{
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 95vw;
    justify-content: space-between;
}

.nav_list{
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
}

.nav_item{
    padding: 1vh 5vw;
}

.nav_item:hover{
    background-color: rgb(24, 24, 24);
}

.icon{
    display: none;
    filter: invert(100%);
}

@media only screen and (max-width: 600px) {
    .navbar{
        flex-direction: column;
        /* justify-content: space-around; */
        text-align: center;
    }

    .response{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
    }

    .nav_list{
        flex-direction: column;
        display: none;
    }

    .nav_item{
        width: 100vw;
    }

    .icon{
        display: unset;
        border: none;
        height: 4.5vh;
        width: 5vh;
        background-color: white;
    }

    .nav_list_responsive{
        list-style: none;
        flex-direction: column;
        display: unset;
    }
}